.large-button {
    width:200px;
    height:100px;
}

.mdl-button--raised.mdl-button--colored {
    background: #3f51B5;
    color: rgb(255,255,255);
}
.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab {
    color: rgb(255,255,255);
    background-color: #d50000;
}