<div class="mdl-layout-js" [ngStyle]="{padding: '10px'}">


<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col">
        <button class="mdl-button large-button mdl-js-button mdl-button--raised mdl-button--colored">
            Physics
        </button>
    </div>

    <div class="mdl-cell mdl-cell--3-col">
        <button class=" large-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored ">
            Node.js
        </button>
    </div>

    <div class="mdl-cell mdl-cell--3-col">
        <button class=" large-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Sails.js
        </button>
    </div>
    <div class="mdl-cell mdl-cell--3-col">
        <button class=" large-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Blubird
        </button>
    </div>
</div>
</div>
