<md-sidenav-layout>

  <md-sidenav #sidenav mode="side" class="app-sidenav">
    Sidenav
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    BridgInformAngular2

    <span class="app-toolbar-filler"></span>
    <button md-button (click)="isDarkTheme = !isDarkTheme">Departments</button>
    <button md-button (click)="isDarkTheme = !isDarkTheme">Users</button>
  </md-toolbar>

</md-sidenav-layout>