<form class="form-horizontal" novalidate (ngSubmit)="onSubmit()" #depForm="ngForm">
    <fieldset>
        <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
                <input
                        type="text"
                        class="form-control"
                        id="inputName"
                        placeholder="Department Name"
                        [(ngModel)]="department.name"
                        name="depName"
                        required
                        #name="ngModel">
            </div>
            <div [hidden]="name.valid || name.pristine"
                 class="alert alert-danger">Department name is required
            </div>
        </div>

        <div class="form-group">
            <label for="inputLocation" class="col-lg-2 control-label">Location</label>
            <div class="col-lg-10">
                <input type="text"
                       class="form-control"
                       id="inputLocation"
                       placeholder="Location"
                       [(ngModel)]="department.location"
                       name="depLoc"
                       required
                       #loc="ngModel">
            </div>
            <div [hidden]="loc.valid || loc.pristine"
                 class="alert-danger alert">
                Department Location is required
            </div>
        </div>

        <div class="form-group">
            <label for="inputUsername" class="col-lg-2 control-label">User Name</label>
            <div class="col-lg-10">
                <input type="text"
                       class="form-control"
                       id="inputUsername"
                       placeholder="User name"
                       [(ngModel)]="department.username"
                       name="user_name"
                       required
                       #name="ngModel">
            </div>
            <div [hidden]="name.valid || name.pristine"
                 class="alert-danger alert">
                User name is required
            </div>
        </div>


        <div class="form-group">
            <label for="inputAge" class="col-lg-2 control-label">User Age</label>
            <div class="col-lg-10">
                <input type="text"
                       class="form-control"
                       id="inputAge"
                       placeholder="User Age"
                       [(ngModel)]="department.userAge"
                       name="user_age"
                       required
                       #age="ngModel">
            </div>
            <div [hidden]="age.valid || age.pristine"
                 class="alert-danger alert">
                User Age is required
            </div>
        </div>

        <div class="form-group">
            <label for="inputAdd" class="col-lg-2 control-label">User Address</label>
            <div class="col-lg-10">
                <input type="text"
                       class="form-control"
                       id="inputAdd"
                       placeholder="User Address"
                       [(ngModel)]="department.userAddress"
                       name="user_address"
                       required
                       #add="ngModel">
            </div>
            <div [hidden]="add.valid || add.pristine"
                 class="alert-danger alert">
                User Address is required
            </div>
        </div>
        <div class="form-group">
            <label for="inputBlock" class="col-lg-2 control-label">Block</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputBlock" placeholder="Block"
                       [(ngModel)]="department.block" name="depBlock">
            </div>
        </div>

        <br>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default" (click)="depForm.reset()">Cancel</button>
                <button
                        [disabled]="!depForm.form.valid"
                        type="submit" class="btn btn-primary"
                        (click)="saveDepartment(department); depForm.reset()">Save
                </button>
            </div>
        </div>
    </fieldset>
</form>