<form class="form-horizontal">
  <fieldset>
    <div class="form-group">
      <label for="inputName" class="col-lg-2 control-label">Name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputName" placeholder="Department Name">
      </div>
    </div>

    <div class="form-group">
      <label for="inputLocation" class="col-lg-2 control-label">Location</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputLocation" placeholder="Location">
      </div>
    </div>

    <div class="form-group">
      <label for="inputBlock" class="col-lg-2 control-label">Block</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputBlock" placeholder="Block">
      </div>
    </div>

     <br>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </fieldset>
</form>